<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
</head>
<body>
    <h2>Admin Dashboard</h2>
    <h3>User List</h3>
    <table border="1">
        <tr>
            <th>Username</th>
            <th>Balance</th>
            <th>Bank Account</th>
        </tr>
        {% for user in results %}
        <tr>
            <td>{{ user[1] }}</td>
            <td>{{ user[3] }}</td>
            <td>{{ user[4] }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
